<div class="row">
    <% cardItemArray.forEach(cardItemObject => { %>
        <div class="col-sm">
            <div class="small-box bg-dark">
                <div class="inner">
                    <h3><%= cardItemObject.value %></h3>

                    <p><%= cardItemObject.title %></p>
                </div>
                <div class="icon">
                    <i class="fas fa-<%= cardItemObject.icon %>"></i>
                </div>
            </div>
        </div>
    <% }); %>
</div>
