<div class="row">
    <% boxItemArray.forEach(boxItemObject => { %>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-dark">
            <div class="inner">
                <h3><%= boxItemObject.value %></h3>

                <p><%= boxItemObject.title %></p>
            </div>
            <div class="icon">
                <i class="fas fa-<%= boxItemObject.icon %>"></i>
            </div>
        </div>
    </div>
    <% }); %>
</div>
